.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.mat-card {
    max-width: 80%;
    margin: 20px;
    border: 2px solid #6b04b5;
    box-shadow: 0 0 10px #6b04b5;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}

.submit-button {
    width: 100%;
    margin-top: 20px;
}

.past-posts-card {
    max-width: 80%;
    margin: 20px auto;
    border: 2px solid #6b04b5;
    box-shadow: 0 0 10px #6b04b5;
}

.mat-icon {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
