<div class="container">
    <div class="floating-card"></div>
    <mat-card class="mat-elevation-z8 logout-form">
        <form (ngSubmit)="onLogout()" class="form-container">
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" class="submit-button">Logout</button>
            </mat-card-actions>
            <div class="spinner-container" *ngIf="loading">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        </form>
    </mat-card>
</div>
