.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.mat-card {
    margin-bottom: 2em;
}

.mat-elevation-z8 {
    padding: 2em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.logo {
    height: 5em;
    width: 5em;
}

.full-width-input {
    width: 100%;
    margin-bottom: 1em;
}

.submit-button {
    width: 100%;
}

.status-closed {
    color: red;
}

.status-pending {
    color: orange;
}

.closed-status-icon {
    color: red;
}

