.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    height: auto; /* adjust height to auto for proper scroll */
    overflow-y: auto; /* Allows vertical scrolling */
}

.mat-card {
    margin-bottom: 2em;
}

.mat-elevation-z8 {
    padding: 2em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em; /* Increase margin */
}

.logo {
    height: 5em;
    width: 5em;
}

.full-width-input {
    width: 100%;
    margin-bottom: 1em;
}

.submit-button {
    width: 100%;
}

.status-closed {
    color: red;
}

.status-pending {
    color: orange;
}

.closed-status-icon {
    color: red;
}

.reserved-status-icon {
    color: orange;
}

.status-reserved {
    color: yellow;
}

.delete-button {
    background-color: plum; 
}


td, th {
    font-size: 18px;
    font-weight: bold;
}


@media only screen and (max-width: 390px) {
    .container {
        padding: 1em;
    }

    .logo {
        height: 3em;
        width: 3em;
    }

    .mat-card {
        margin-bottom: 1em;
    }

    .mat-elevation-z8 {
        padding: 1em;
    }

    .logo-container {
        margin-bottom: 1em;
    }
    

    td, th {
        font-size: 16px;
    }
}
