<div class="post-form-container">
    <div class="form-header">
      <div class="logo-container">
        <img class="logo" src="assets/logo.png" alt="Logo">
      </div>
      <h2 class="form-title">Post Available Food</h2>
    </div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label" for="posted_by_user">Posted By User</label>
        <input class="form-input" type="text" formControlName="posted_by_user" id="posted_by_user">
      </div>
      <div class="form-group">
        <label class="form-label" for="food_list">Food List</label>
        <input class="form-input" type="text" formControlName="food_list" id="food_list">
      </div>
      <div class="form-group">
        <label class="form-label" for="location">Location</label>
        <input class="form-input" type="text" formControlName="location" id="location">
      </div>
      <div class="form-group">
        <label class="form-label" for="monetary_value">Monetary Value</label>
        <input class="form-input" type="number" formControlName="monetary_value" id="monetary_value">
      </div>
      <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <input class="form-input" type="text" formControlName="address" id="address">
      </div>
      <button class="form-button" type="submit">Submit</button>
    </form>
  </div>
  
  