<div class="container">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <div class="logo-container">
            <img src="assets/img/logo.jpg" alt="Logo" class="logo">
          </div>
        </mat-card-title>
      </mat-card-header>
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="form-container">
        <mat-card-content>
          <h2 class="mat-headline">Post Available Food</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Posted By User</mat-label>
            <input matInput formControlName="posted_by_user">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Food List</mat-label>
            <input matInput formControlName="food_list">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Monetary Value</mat-label>
            <input matInput formControlName="monetary_value">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" class="submit-button">Submit</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <!-- Past posts -->
    <div *ngFor="let post of pastPosts" class="post-container">
        <mat-card class="mat-elevation-z8 post-content">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="post-icon">person</mat-icon>
              <span class="post-name">{{ post.posted_by_user }}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="post-details">
              <mat-icon class="post-icon">list</mat-icon>
              <span>Food list: {{ post.food_list }}</span>
            </div>
            <div class="post-details">
              <mat-icon class="post-icon">attach_money</mat-icon>
              <span>Monetary value: {{ post.monetary_value }}</span>
            </div>
            <div class="post-details">
              <mat-icon class="post-icon">location_on</mat-icon>
              <span>Address: {{ post.address }}</span>
            </div>
          </mat-card-content>
          <mat-card-actions class="post-actions">
            <button mat-button color="primary">Edit</button>
            <button mat-button color="warn">Delete</button>
          </mat-card-actions>
        </mat-card>
    </div>
</div>
