.app-splash-screen {
    background: #c680ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: left 1s;
    background-image: url(./../../../assets/img/Q1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-loader {
    background: url(./../../../assets/img/Q2.svg);
    background-repeat: no-repeat;
    background-position: 39%;
    background-size: contain;
    height: 100px;
    justify-content: center;
    margin-top: 650px;
}