body {
    font-family: Georgia, serif;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h-screen {
    height: 100vh;
}

.registration-form {
    max-width: 32rem;
    background-color: #F2F1F7;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 1rem;
}

.form-header {
    text-align: center;
    margin-bottom: 2rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6B638F;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo {
    width: 100px;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    font-size: 0.875rem;
    font-weight: bold;
    color: #A09BA3;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    appearance: none;
    border: 1px solid #D8D4E0;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.form-button {
    background-color: #DAAE87;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: #C99C78;
}
