body { 
    margin:0; 
    padding:0; 
}

#map {
    width: 100%;
    height: 400px;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid palevioletred;
    background-color:red;
}
.post-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.post-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.food-name {
  font-size: 20px;
  color: #333;
  padding: 5px 0;  
}

.reserve-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10.5px 22.4px;  
  text-decoration: none;
  display: inline-block;
  font-size: 11.2px;  
  margin: 4px 2px;
  cursor: pointer;
}
.red {
    background-color: red;
}
