<div class="container">
    <div class="floating-card"></div>
    <mat-card class="mat-elevation-z8 post-form">
        <mat-card-header>
            <mat-card-title class="form-title">Post Available Food</mat-card-title>
        </mat-card-header>
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="form-container">
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width-input">
                    <input matInput placeholder="Food Name" formControlName="foodName">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" class="submit-button">Submit</button>
            </mat-card-actions>
            <div class="spinner-container" *ngIf="loading">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        </form>
    </mat-card>
</div>
