<div class="flex h-screen">
    <div class="login-form">
      <div class="form-header">
        <h2 class="form-title">Login</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-group">
          <label for="login-username" class="form-label">Username</label>
          <input id="login-username" type="text" formControlName="username" class="form-input">
        </div>
        <div class="form-group">
          <label for="login-password" class="form-label">Password</label>
          <input id="login-password" type="password" formControlName="password" class="form-input">
        </div>
        <div class="form-group">
          <button type="submit" class="form-button">Login</button>
        </div>
      </form>
    </div>
  </div>
  