<meta name="viewport" content="width=device-width, initial-scale=1">
<mat-toolbar color="primary" fxLayoutAlign="space-between center">
    <button mat-button [matMenuTriggerFor]="menu">
        <div style="font-size: 36px;">
            <mat-icon>apps</mat-icon>
        </div>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/recipient-registration">Recipient Registration</button>
        <button mat-menu-item routerLink="/provider-registration">Provider Registration</button>
        <button mat-menu-item routerLink="/login">Login</button>
    </mat-menu>
    <span class="logologo"><img src="assets/img/newmainlogo.png"></span>
    <button mat-button routerLink="/logout">Logout</button>
</mat-toolbar>
<splash-screen></splash-screen>
<router-outlet></router-outlet>
