<nav class="bg-blue-500 p-6">
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/recipient-registration">Recipient Registration</a>
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/provider-registration">Provider Registration</a>
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/map">Map</a>
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/login">Login</a>
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/logout">Logout</a>
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/provider-post">Provider Post</a>
    <a class="text-white hover:text-blue-300 mr-4" routerLink="/reservation">Reservation</a>

</nav>

<router-outlet></router-outlet>


